<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woailqw.simplevote.dao.VoteMapper" >
  <!--<cache />-->
  <resultMap id="baseResultMap" type="com.woailqw.simplevote.entity.Vote" >
    <id column="id" property="id" javaType="java.lang.String" />
    <result column="create_by" property="createBy" javaType="java.lang.String" />
    <result column="create_date" property="createDate" javaType="java.time.LocalDateTime" />
    <result column="update_by" property="updateBy" javaType="java.lang.String" />
    <result column="update_date" property="updateDate" javaType="java.time.LocalDateTime" />
    <result column="remarks" property="remarks" javaType="java.lang.String" />
    <result column="del_flag" property="delFlag" javaType="java.lang.String" />
    <result column="user_id" property="userId" javaType="java.lang.String" />
    <result column="vote_title" property="voteTitle" javaType="java.lang.String" />
    <result column="vote_item" property="voteItem" javaType="java.lang.String" />
    <result column="multi_choice" property="multiChoice" javaType="java.lang.String" />
    <result column="vote_end" property="voteEnd" javaType="java.time.LocalDateTime" />
    <result column="anonymous" property="anonymous" javaType="java.lang.String" />
  </resultMap>

  <select id="list" resultMap="baseResultMap">
      select * from vote
  </select>

  <insert id="save" parameterType="com.woailqw.simplevote.entity.Vote">
    insert into vote
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="voteTitle != null">
        vote_title,
      </if>
      <if test="voteItem != null">
        vote_item,
      </if>
      <if test="multiChoice != null">
        multi_choice,
      </if>
      <if test="voteEnd != null">
        vote_end,
      </if>
      <if test="anonymous != null">
        anonymous,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,javaType=java.lang.String},
      </if>
      <if test="userId != null">
        #{userId,javaType=java.lang.String},
      </if>
      <if test="voteTitle != null">
        #{voteTitle,javaType=java.lang.String},
      </if>
      <if test="voteItem != null">
        #{voteItem,javaType=java.lang.String},
      </if>
      <if test="multiChoice != null">
        #{multiChoice,javaType=java.lang.String},
      </if>
      <if test="voteEnd != null">
        #{voteEnd,javaType=java.time.LocalDateTime},
      </if>
      <if test="anonymous != null">
        #{anonymous,javaType=java.lang.String},
      </if>
      <if test="createBy != null">
        #{createBy,javaType=java.lang.String},
      </if>
      <if test="createDate != null">
        #{createDate,javaType=java.time.LocalDateTime},
      </if>
      <if test="updateBy != null">
        #{updateBy,javaType=java.lang.String},
      </if>
      <if test="updateDate != null">
        #{updateDate,javaType=java.time.LocalDateTime},
      </if>
      <if test="remarks != null">
        #{remarks,javaType=java.lang.String},
      </if>
      <if test="delFlag != null">
        #{delFlag,javaType=java.lang.String},
      </if>
    </trim>
  </insert>
</mapper>
